<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="microjet.com.airqi2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android6.0 BLE Scan 才需要 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomDialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BlueTooth.DeviceListActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".KnowledgeActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <service android:name=".BlueTooth.UartService" />

        <activity
            android:name=".AboutActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AirMapActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <!-- 使用receiver標籤，名稱設定廣播接收元件類別名稱 -->
        <receiver android:name=".BroadReceiver.CharacteristicReceiver">
            <intent-filter>

                <!-- 使用Action名稱設定接收的廣播事件 -->
                <action android:name="Characteristic" />
            </intent-filter>
        </receiver>
        <!-- 使用receiver標籤，名稱設定廣播接收元件類別名稱 -->
        <receiver android:name=".BroadReceiver.MainReceiver">
            <intent-filter>

                <!-- 使用Action名稱設定接收的廣播事件 -->
                <action android:name="Main" />
            </intent-filter>
        </receiver>
        <!-- 使用receiver標籤，名稱設定廣播接收元件類別名稱 -->
        <receiver android:name=".BroadReceiver.TVOCFragment">
            <intent-filter>

                <!-- 使用Action名稱設定接收的廣播事件 -->
                <action android:name="Characteristic" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".TourActivity"
            android:label="@string/title_activity_tour"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>