<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microjet.airqi2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android6.0 BLE Scan 才需要 -->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.VIBRATE" />
    <!-- Vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 20180209 PowerWAKE_LOCK -->
    <!--uses-permission android:name="android.permission.WAKE_LOCK" /-->

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 高德地圖需要權限 -->
    <!--uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /-->
    <!--uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomDialogActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BlueTooth.DeviceListActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="unspecified"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Account.AccountManagementActivity"
            android:label="@string/text_Title_Manifest_account_setting"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.AccountRegisterActivity"
            android:excludeFromRecents="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.AccountForgetPasswordActivity"
            android:excludeFromRecents="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.AccountActiveActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- authorities="你的包名+fileprovider" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.microjet.airqi2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".Account.AccountResetPasswordActivity"
            android:excludeFromRecents="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Account.AccountNameReplaceActivity"
            android:excludeFromRecents="true"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".KnowledgeActivity"
            android:label="@string/text_title_Manifest_Knowledge"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QandAActivity"
            android:label="ADDWII Q&amp;A"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <service android:name=".BlueTooth.UartService" />

        <activity
            android:name=".BlueTooth.DFU.DFUActivity"
            android:label="DFU"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <!--
        android:icon="@drawable/ic_dfu_feature"
        <intent-filter>
              <action android:name="android.intent.action.MAIN" />
            <category android:name="no.nordicsemi.android.nrftoolbox.LAUNCHER" />
            </intent-filter>

        </activity>
        -->
        <activity
            android:name=".BlueTooth.DFU.Settings.SettingsActivity"
            android:label="DFU Settings" />

        <service
            android:name=".BlueTooth.DFU.DFUService"
            android:exported="true"
            android:label="nRF Toolbox DFU Proxy">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AboutActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AirMapActivity"
            android:label="@string/text_title_Manifest_PersonTrail"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingActivity"
            android:label="@string/text_Title_Manifest_general_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TourActivity"
            android:label="@string/title_activity_tour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FetchDataMain"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PublicMapActivity"
            android:label="@string/text_title_Manifest_AirMap"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->

        <activity
            android:name=".engieeringMode.EngineerModeActivity" />

        <activity
            android:name=".engieeringMode.ScanActivity" />

        <activity
            android:name=".GestureLock.DefaultPatternSettingActivity"
            android:label="@string/text_pattern_lock" />

        <activity
            android:name=".GestureLock.DefaultPatternCheckingActivity"
            android:label="@string/text_pattern_lock" />

        <activity
            android:name=".GestureLock.UsePasswordActivity"
            android:label="@string/text_pw_lock" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".BroadReceiver.NotificationButtonReceiver" />

        <service android:name=".GetFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="com.amap.api.v2.apikey" android:value="0623ea9fad451f1b1c0c5884e38c9e28" />

        <activity
            android:name=".GoldenMapActivity"
            android:label="ADDWII 个人軌跡"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme" />

        <service
            android:name=".GetFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".OpenBrowserActivity"></activity>
    </application>

</manifest>